numpy
scipy 
pandas 
rasterio 
netCDF4
cython
xarray
matplotlib
gdal==3.8.4
bottleneck
dask
tqdm
tabulate
pyresample
geopandas
rioxarray
shapely
fiona
pyproj
notebook
jupyterlab
jupyter_core
jupyter_client
folium
grass-session
repurpose
ipympl
ipywidgets
ipyleaflet
cdsapi
h5netcdf
parallel
requests
tempfile
hydrostats
