numpy
scipy 
pandas 
rasterio 
netCDF4
cython
xarray
matplotlib
gdal==3.8.4
bottleneck
dask
tqdm
scipy
tabulate
pyresample
geopandas
rioxarray
shapely
fiona
pyproj
notebook
jupyterlab
jupyter_core
jupyter_client
ipywidgets
folium
grass-session
repurpose